<nav class="navbar bg-body-tertiary mb-4">
    <div class="container-fluid">
        <h1 class="navbar-brand">Lista de Empleados</h1>
        <div class="d-flex">
            <a href="" class="btn btn-success me-2" routerLink="/createEmployee">Crear Nuevo</a>
        </div>
    </div>
</nav>

<div class="row p-5">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Email</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Cargo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (employee of employees(); track employee.employeeId) {
                        <tr>
                            <td>{{employee.fullName}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.birthDate}}</td>
                            <td>{{employee.position}}</td>
                            <td>
                                <button class="btn btn-sm btn-primary"
                                    (click)="openModal(modalEdit,employee.employeeId)">Editar</button>
                                <button class="btn btn-sm btn-danger ms-1"
                                    (click)="delete(employee.employeeId)">Eliminar</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<ng-template #modalEdit let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar Empleados</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('c')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form>
            <input type="hidden" [formField]="employeeForm.employeeId">
            <div class="mb-3">
                <label class="form-label"> Nombre Completo</label>
                <input type="text" class="form-control" [formField]="employeeForm.fullName">
                @if(employeeForm.fullName().touched() && employeeForm.fullName().invalid()){
                <small class="text-danger">
                    {{employeeForm.fullName().errors()[0].message}}
                </small>
                }
            </div>
            <div class="mb-3">
                <label class="form-label"> Email</label>
                <input type="email" class="form-control" [formField]="employeeForm.email">
                @if(employeeForm.email().touched() && employeeForm.email().invalid()){
                <small class="text-danger">
                    {{employeeForm.email().errors()[0].message}}
                </small>
                }
            </div>
            <div class="mb-3">
                <label class="form-label"> Fecha de Nacimiento</label>
                <input type="date" class="form-control" [formField]="employeeForm.birthDate">
                @if(employeeForm.birthDate().touched() && employeeForm.birthDate().invalid()){
                <small class="text-danger">
                    {{employeeForm.birthDate().errors()[0].message}}
                </small>
                }
            </div>
            <div class="mb-3">
                <label class="form-label"> Cargo</label>
                <select class="form-select" [formField]="employeeForm.positionId">
                    <option value="0" disabled>--Select--</option>
                    @for (position of positions(); track position.positionId) {
                    <option [value]="position.positionId">{{position.name}}</option>
                    }
                </select>
                @if(employeeForm.positionId().touched() && employeeForm.positionId().invalid()){
                <small class="text-danger">
                    {{employeeForm.positionId().errors()[0].message}}
                </small>
                }
            </div>

            <div class="mb-3">
              <label class="form-label">Nueva Contraseña</label>
              <input type="password" class="form-control" [formField]="employeeForm.password"
                     placeholder="Dejar en blanco para no cambiarla">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.close('c')">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveChanges()"
                    [disabled]="employeeForm().invalid()">Guardar Cambios</button>
            </div>

            

        </form>
    </div>
</ng-template>
